h1 {
    font-family: Libre Baskerville, serif;
}

html {
    background-color: rgb(0, 0, 0);
}

div {
    color: rgb(255, 255, 255);
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
}

img {
    border: 5px rgba(255, 255, 255, 0.803) solid;
    width: 100%;
}